.quote {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quote .text-line {
    max-width: 500px;
    margin-bottom: .4em;
}

.quote .text-line span {
    font-size: 30px;
    white-space: pre-line;
}

.quote .subtext-line {
    /* position: absolute;
    left: 0;
    right: 0; */
    text-align: justify;
    max-width: 600px;
    margin-bottom: .4em;
}

.quote .subtext-line span {
    /* position: absolute; */
    right: 20px;
    white-space: pre-line;
}

.quote .nav-line {
    font-size: 8px;
}

a {
    color: #aaa;
}

button {
    border-width: 0;
    font-family: unset;
    font-size: unset;
    color: unset;
    background-color: unset;
    cursor: pointer;
    border-bottom: 0.5px solid #fff;
    border-color: #fff;
}
