.terminal {
  width: 50vw;
  margin-bottom: 10px;
  position: relative;
}

.terminal input {
  width: 100%;
  background: transparent;
  color: var(--foreground-color);
  border-width: 0 0 2px 0;
  padding: 5px 0;
  outline: none!important;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: left;
}

#bangs {
  position: absolute;
  width: 100%;
  background-color: rgba(200, 200, 200, .2);
  z-index: 100;
}

#bangs .suggestion {
  padding: 0.5em 0 0.5em 0;
  border: 0 solid var(--foreground-color);
  border-width: 0 0 0px 0;
}

#bangs .suggestion .pattern {
  font-size: 24px;
  color: var(--foreground-color);
  opacity: .5;
  margin-bottom: 0.25em;
}
