* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: hidden;
}

body {
    height: 100vh;
    background-color: #000000;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#particles-js, .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

.background {
    /* background-image: url('../images/background.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
}

.main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    position: relative;
}

.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
}

.top-right a * {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.top-right a:hover * {
    transform: scale(1.5);
}

.settings-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.4);
    clip-path: circle(0% at calc(100vw - 10px - 0.5em) 20px);
    transition: clip-path 0.5s cubic-bezier( 0.5, 0, 0.75, 1 );
}

.settings-mask.active {
    clip-path: circle(max(200vw, 200vh) at calc(100vw - 10px - 0.5em) 20px);
}

.quote {
    position: absolute;
    top: 60px; /* based on the height of the terminal */
}
